
body{
          margin: 10%;
          color: rgb(255, 255, 255);
background-color: rgb(22, 17, 17);
}


header{
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          text-align: center;
}

h2{
          color: red;

font-size: 60;
font-stretch: ultra-expanded;
font-family: 'Diplomata', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


header{
border-radius: 150px;

}


main{

          max-width: 100px;


}


header img{
          
          border-radius: 700px;
          max-width: 20px;
          border: 12px solid #7DA0D5;
          align-self: auto;
}


main img{

          border-radius: 700px;
          max-width: 20px;
          border: 12px solid #7DA0D5;
          align-self: auto;
}


